 <section class='container'>
	<div class='jumbotron' ng-show='loading'><h1>Loading.....</h1></div>
	<h1>{{title}} </h1>
	<section class='row'>
		<div class='repeat' ng-repeat="movie in movieList">
			<div class="col-md-2 col-sm-4 col-xs-6">
				<a href='#/movie/{{movie.id}}/{{category}}'>    
					<movie-info-box title="movie.title" 
                                    poster='movie.poster_path'
                                    date='movie.release_date'>
                	</movie-info-box>
				</a>
			</div>
		</div>
	</section>
	 <div class='nextPrev' style='padding: 1em;'>
        <i class='glyphicon glyphicon-circle-arrow-left'
            ng-hide="page === 1"
            ng-click="prevPage()"></i>
        
        <span class='pagination'>
        Showing Page: {{page}} of {{pages}}</span>
        <i class='glyphicon glyphicon-circle-arrow-right'
           ng-click="nextPage()"></i>
    </div>
</section>